@using CommitExplorerOAuth2AspNET.Domain.Entities;

@model GitCommitsViewModel

@{

}
<table class="table">
    <thead>
        <tr>
            <th>Login</th>
            <th>NodeId</th>
            <th>Check delete</th>
        </tr>
    </thead>
    <tbody id="oi">
        @if (Model.data != null && Model.data.Count()>0)
        {
            @foreach (var emp in Model.data)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(ModelIetm=>emp.author)
                    </td>

                    <td>
                        @Html.DisplayFor(ModelIetm=>emp.sha)
                    </td>

                    <td>
                        <input type="checkbox" class="selectedEntities" data-id="@Html.DisplayFor(ModelIetm=>emp.Id)"  />
                    </td>

                </tr>
            }
        }
    </tbody>
</table>
@if (Model.pager != null)
{
    <input type="hidden" value="@Model.pager.CurrentPage" id="currPage" />
    <partial name="_Pager" model="@Model.pager" />
}
